

#start{
    background: rgb(187, 230, 255);
    cursor: pointer;
    color: rgb(0, 0, 0);
    height: 110px;
    width: 190px;
    font-size: 50px;
    border: 1px solid  rgb(13, 112, 0);
    transition: 0.2s

}
#start:hover{
    background: rgba(71, 201, 0, 0.667);
    box-shadow: 1px 1px 12px rgb(130, 255, 63);
    border: 1px solid   rgb(130, 255, 63);
    color: rgb(255, 255, 255);
    
}
#pause{
    background: rgb(187, 230, 255);
    cursor: pointer;
    color: rgb(142, 152, 0);
    height: 50px;
    width: 100px;
    font-size: 20px;
    border: 1px solid  rgb(133, 138, 0);
    margin-right: 10px;
    transition: 0.2s

    
}
#pause:hover{
    background: rgb(229, 255, 0);
    box-shadow: 1px 1px 12px rgb(229, 255, 0);
    border: 1px solid  rgb(229, 255, 0);
    color: rgb(255, 255, 255);
}
#resume{
    background: rgb(187, 230, 255);
    cursor: pointer;
    color: rgb(0, 72, 206);
    height: 50px;
    width: 100px;
    font-size: 20px;
    border: 1px solid  rgb(0, 81, 124);
    margin-right: 10px;
    transition: 0.2s

}
#resume:hover{
    background: rgba(1, 95, 183, 0.667);
    box-shadow: 1px 1px 12px rgb(3, 173, 192);
    border: 1px solid  rgb(3, 173, 192);
    color: rgb(255, 255, 255);
}
#reset{
    background: rgb(187, 230, 255);
    cursor: pointer;
    color: rgb(155, 0, 0);
    height: 50px;
    width: 100px;
    font-size: 20px;
    border: 1px solid  rgb(113, 0, 0);
    margin-right: 10px;
    transition: 0.2s

}
#reset:hover{
    background: rgb(255, 11, 11) ;
    box-shadow: 1px 1px 12px rgb(255, 11, 11);
    border: 1px solid  rgb(255, 11, 11);
    color: rgb(255, 255, 255);
}
#add{
    background: rgb(187, 230, 255);
    cursor: pointer;
    color: rgb(0, 150, 13);
    height: 50px;
    width: 100px;
    font-size: 20px;
    border: 1px solid  rgb(25, 98, 0);
    transition: 0.2s

}
#add:hover{
    background: rgba(89, 255, 0, 0.667);
    box-shadow: 1px 1px 10px rgb(98, 255, 13);
    border: 1px solid  rgb(98, 255, 13);
    color: rgb(255, 255, 255);
}