body { 
    background-color: rgb(187, 230, 255);
    color: rgb(0, 0, 0);

  }
  .Control-header{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .Control-header:nth-child(1){
    gap: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .Control-conteiner{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.553);
    border-radius: 50px;
  }
  
  
  .Controls{
    
      
      display: flex;
      flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
  .Lists-item{
    display: flex;
    border: 1px solid black;
    gap: 100px;
    background-color: rgb(187, 230, 255);
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    opacity: 0.6;
  }
  .Lists-item:hover {
    opacity: 1;
  }

  