*{
  margin: 0;
  bottom: 0;
}
#light .Control-header{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  #light .Control-header:nth-child(2){
    gap: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #light .Control-conteiner{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #light .Lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.553);
    border-radius: 50px;
  }
  
  
  #light{
    
    background-color: rgb(187, 230, 255);
      display: flex;
      flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
  #light .Lists-item{
    display: flex;
    border: 1px solid black;
    gap: 100px;
    background-color: rgb(187, 230, 255);
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    opacity: 0.6;
  }
  #light .Lists-item:hover {
    opacity: 1;
  }
 /* dark mode */
  #dark{
    background-color: rgb(0, 0, 0);
    color: rgb(212, 210, 210);
      display: flex;
      flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
  }

  #dark .Lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(103, 95, 135, 0.694);
    border-radius: 50px;
    box-shadow: 1px 1px 7px white;
  }
  #dark .Control-header{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  #dark .Control-header:nth-child(2){
    gap: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 14px rgb(0, 60, 139);
  }
  #dark .Control-conteiner{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #dark .Lists-item{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    gap: 100px;
    background-color: rgb(25, 24, 37);
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    opacity: 0.6;
  }
  #dark .Lists-item:hover {
    opacity: 1;
  }
  #light .Switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:rgb(187, 230, 255);
    padding-top: 40px;
    zoom: 150%;    
  }
 #dark .Switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding-top: 40px;
    zoom: 150%;
    color: black; 
  }
  @media (max-width:713px){
    #light .Lists-item{
      gap: 50px;
      font-size: 40px;
    }
  }
  @media (max-width:713px){
    #dark .Lists-item{
      gap: 50px;
      font-size: 40px;
    }
  }
  @media (max-width:550px){
    #light .Lists-item{
      gap: 50px;
      font-size: 30px;
    }
  }
  @media (max-width:550px){
    #dark .Lists-item{
      gap: 50px;
      font-size: 30px;
    }
  }
  @media (max-width:434px){
    #light .Lists-item{
      gap: 30px;
      font-size: 25px;
    }
  }
  @media (max-width:434px){
    #dark .Lists-item{
      gap: 30px;
      font-size: 25px;
    }
  }
  @media (max-width:357px){
    #light .Lists-item{
      gap: 20px;
      font-size: 25px;
    }
  }
  @media (max-width:357px){
    #dark .Lists-item{
      gap: 20px;
      font-size: 25px;
    }
  }
  @media (max-width:357px){
    #light .Lists-item{
      gap: 20px;
      font-size: 25px;
    }
  }
  @media (max-width:347px){
    #light .Lists-item{
      gap: 10px;
      font-size: 23px;
    }
  }
  @media (max-width:347px){
    #dark .Lists-item{
      gap: 10px;
      font-size: 23px;
    }
  }
  @media (max-width:314px){
    #light {
      display: none
    }
  } 
  @media (max-width:473px){
    #light .Control-header:nth-child(2){
        font-size: 40px;
    }
  }
  @media (max-width:473px){
    #dark .Control-header:nth-child(2){
        font-size: 40px;
    }
  }
  @media (max-width:404px){
    #light .Control-header:nth-child(2){
        font-size: 37px;
    }
  }
  @media (max-width:404px){
    #dark .Control-header:nth-child(2){
        font-size: 37px;
    }
  }